<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="keywords" content="WhatsApp, conversa, whats, wpp, shortcut">
    <meta name="theme-color" content="#128C7E">
    <meta name="description" content="O GoWhats é uma ferramenta grátis para direcionar usuários diretamente para conversa do WhatsApp sem ter a necessidade de cadastrar o número na agenda do telefone, tornando mais 
    rápido e prático.">
    <meta http-equiv="Content-Language" content="pt-br, en">
    <meta property="og:title" content="GoWhats">
    <meta property="og:description" content="Acesso direto a conversa do WhatsApp.">
    <meta property="og:url" content="https://gowhats.herokuapp.com/">
    <link rel="apple-touch-icon" href=" {{url_for('static', filename='images/logo_whats.png')}} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}   
</body>
</html>